.maindivtt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  width: 60%;
  margin-left: 20rem;
}

.titlett {
  margin: 0 -0.4em;
  padding: 0.1em 0.4em;
  border-radius: 0.8em 0.3em;
  background: transparent;
  background-image: linear-gradient(
    to right,
    rgba(255, 225, 0, 0.1),
    rgba(255, 225, 0, 0.7) 4%,
    rgba(255, 225, 0, 0.3)
  );
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.desctt {
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 80%;
  font-weight: bold;
}

.imgtt {
  height: 20rem;
  border-radius: 3rem;
}

.btntt {
  margin-top: 2rem;
}
